#footer
  .container.text-center
    div
      | © 2014 Jason Hooten, Inc.
    div
      strong HearthGen
      |  ·
      | Created by
      a(href='https://github.com/jasonHooten')  Jason Hooten
    div
      | Code licensed under
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
    div
      a(href='https://github.com/jasonHooten/hearthGen') GitHub Project
      |  ·
      a(href='https://github.com/sahat/hearthGen/issues')  Issues
