.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Hearth-Gen 
        i beta
    
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/analyze?u=http://www.hearthpwn.com/decks/29315-ultimate-control') Test Me Out!
      
      form.navbar-form.navbar-right(action='analyze', method='POST')
        input(type="url" name='url' class="form-control col-lg-10" placeholder="analyze")    
      