
// Default Size
// -------------------------

@report-default-width: 310px;
@report-default-height: 200px;



// Reports
.default-chart {
	height: @report-default-height;
}

.hero-image{
	background-repeat: no-repeat;
	background-size: 323px;
	background-position: 5px 100px;
}

.main{
    //background-color: #f5f5f5;
}


/* Hide for mobile, show later */
.card-list {
  display: none;
}
@media (min-width: 768px) {
  .card-list {
    display: block;
    background-color: #fff;
	.h2{

	}
  }
}