extends ../layout



block content
	div
		h2= hero
		
		.pull-left
			strong your card list...
			each card in cards
				p= card.name + ' x' + card.number

		canvas(id="manaCost", width="400", height="400", class="pull-right")

		script.
			$(document).ready(function() {
				hearthGen.manaCost(!{JSON.stringify(manaCost)});
			});
	if user
		.alert.alert-success.animated.flipInX
			i.fa.fa-check
			strong You are logged in.