extends ../layout



block content
	div
		h2= hero		
		.pull-left
			each card in cards
				p= card.name + ' x' + card.number

		div.pull-left
			div(id="manaCost", width="310", height="150", class="pull-left")

		script.
			$(document).ready(function() {
				hearthGen.manaCost(!{JSON.stringify(manaCost)});
			});