extends ../layout



block content
	.container
		.row
			.col-sm-3.col-md-2.card-list
				include _cardlist

			.col-sm-9.col-md-10.main
				hr
				include _generalCharts
				hr
				.row
					include _startinghand



